<div class="app-body">
    <main class="main d-flex align-items-left">
        <div class="container align-items-left" style="max-width:500px;">

            <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <h1>Users</h1>
                <p class="text-muted">Create new User</p>
                <div class="input-group mb-3">
                    <mat-form-field appearance="fill" class="form-control">
                        <mat-label>User lastName</mat-label>
                        <input matInput placeholder="User lastName" [formControl]="lastNameControl" required>
                        <mat-error *ngIf="lastNameControl.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                </div>
                <div class="input-group mb-3">
                    <mat-form-field appearance="fill" class="form-control">
                        <mat-label>User firstName</mat-label>
                        <input matInput placeholder="User firstName" [formControl]="firstNameControl" required>
                        <mat-error *ngIf="firstNameControl.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                </div>
                <div class="input-group mb-3">
                    <mat-form-field appearance="fill" class="form-control">
                        <mat-label>User E-Mail</mat-label>
                        <input matInput placeholder="User E-Mail" [formControl]="emailControl" required>
                        <mat-error *ngIf="emailControl.invalid">You must enter a value</mat-error>
                    </mat-form-field>
                </div>




                <div class="input-group mb-3">

                    <mat-form-field appearance="fill" class="form-control">
                        <mat-label>Choose User Role</mat-label>
                        <mat-select [formControl]="roleControl" required>
                            <mat-option [value]="'ROLE_ADMIN'">
                                ADMIN
                            </mat-option>
                            <mat-option [value]="'ROLE_PROFESSOR'">
                                PROFESSOR
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="roleControl.hasError('required')">Please choose User Role
                        </mat-error>

                    </mat-form-field>



                </div>
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>

    </main>
</div>