
<div class="app-body">
    <main class="main d-flex align-items-left">
        <div class="container-fluid align-items-left">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <form>
                                <h1>categories</h1>
                                <p class="text-muted">Create new category</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="category name"
                                        autocomplete="username" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-tag"></i></span>
                                    </div>
                                    <select class="form-control" required [(ngModel)]="form.man" name="man">
                                        <option value="0" disabled selected="selected">select user type</option>
                                        <option *ngFor="let m of managers" [value]="m.id" [text]="m.name"></option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-block btn-success">Save Category</button>
                            </form>
                        </div>
                        <div class="card-footer p-4">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>